@using Hotel.Models.Room
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rooms";
}

@model IEnumerable<RoomViewModel>

<h2>Rooms</h2>

<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Rentability</th>
            <th>Price</th>
            <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var room in Model)
      {
        <tr>
            <th>@room.Number</th>
            <th>@room.Type</th>
            <th>@room.Rentability</th>
            <th>@room.Price</th>
            <th>
                <button>
                        <a 
                            asp-controller="Room" 
                            asp-action="Edit" 
                            asp-route-id="@room.Id">
                            Edit
                        </a>
                </button>
                <button>
                        <a 
                            asp-controller="Room" 
                            asp-action="Delete" 
                            asp-route-id="@room.Id">
                            Delete
                        </a>
                </button>
            </th>
        </tr>
      }
    </tbody>
</table>
